.typeDiv,
.abilityDiv,
.powerDiv {
    display: block;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    width: 30%; 
    aspect-ratio: 1/1;
    margin: 2px;
}

.power {
    position: relative;
    text-align: center;
    font-weight: bolder;
    height: var(--a);
    line-height: var(--a);
    top: 50%;
    transform: translateY(-50%);
}

.typeDiv{
    margin-top: 20%;
}

.cardInHand,
.cardLeader,
.cardPlayed,
.cardShown,
.weatherCardPlayed,
.cardInMedicUI {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    color: white;
    aspect-ratio: 3/4;
    top: 50%;
    transform: translateY(-50%);
    background-color: #17191a;
    background-size: cover;
}

.cardInHand {
    margin: 2px;
    height: 90%;
    transition: ease-in-out 300ms;
    font-size: 12px;
    --a: 12px;
}

.cardInHand:hover {
    margin-left: -10px;
    margin-top: -8%;
    height: 110%;
    font-size: 15px;
    --a: 15px;
    overflow: visible;
}

.cardLeader {
    height: 90%;
    background-color: #727272;
}

.cardPlayed {
    margin-right: 2px;
    height: 95%;
    font-size: 10px;
    --a: 10px;
}

.cardShown {
    margin-left: 0px !important;
    width: 100%;
    font-size: 25px;
    --a: 25px;
    top: 5%;
    transform: none;
}

.weatherCardPlayed {
    height: 80%;
    margin-left: 0px !important;
    margin-inline: 2px;
}

.cardInMedicUI {
    border-radius: 5px;
    width: 100%;
}