* {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}
body,html{
    width: 100%; height: 100vh;
}

/* MAIN BOARDS */

#left_board {
    display: inline-block;
    background-color: #c7cbcd;
    height: 100%;
    width: 24%;
    text-align: center;
    vertical-align: middle;  
}

#center_board {
    display: inline-block;
    background-color: #e3e5e6;
    height: 100%;
    width: 50%;
    vertical-align: auto;
}

#right_board {
    display: inline-block;
    background-color: #c7cbcd;
    height: 100%;
    width: 24%;
}

/*Styles for the left of the board*/

#enemy_leader_div {
    background-color: #90979a;
    border-radius: 10px;
    width: 80px;
}

#enemy_status,
#own_status {
    display: inline-block;
    background-color: #17191a;
    width: 100%;
    height: 10%;
}

#enemy_card_num,
#own_card_num {
    color: #aa9667;
    font-weight: bold;
}

#weather_cards {
    background-color: #90979a;
    border-radius: 5px;
    width: 200px;
    margin: 10px auto;
    aspect-ratio: 16/9;    
}

#enemy_leader,
#own_leader{
    border-radius: 10px;
    width: clamp(20px, 50%, 100px);
    margin: 50px auto;
    border: 10px solid #c94203
}

#enemy_pic,
#own_pic {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    border-radius: 60px;
}

.player_name {
    text-align: left;
    color: #aa9667;
    font-weight: bold;
}

.player_faction {
    text-align: left;
    color: #aa9667;
}

.status_content {
    display: inline-block;
    vertical-align: middle;
    height: 80%;
    width: 50%;
}

#stats{
    text-align: left;
}

#stats *{
    display: inline-block;
}

#enemy_total_value,
#own_total_value {
    display: inline-block;
    background-color:#aa9667;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
}

.card_icon {
    aspect-ratio: 1/1;
    width: 20px;
}

.heart_icon {
    aspect-ratio: 1/1;
    width: 20px;
}

/*Styles for the center of the board*/

#enemy_side {
    
    margin: auto;
    height: 40%;
    width: 100%;
}

#own_side {
    
    height: 40%;
    width: 100%;
}

#current_cards {
    margin: auto;
    background-color: #c7cbcd;
    width: 90.75%;
    height: 12.5%;
}

.line_div {
    margin: 10px auto;
    height: 30%;
    width: 100%;
}

.line_value {
    display: inline-block;
    align-content: center;
    background-color: #90979a;
    border-radius: 20px;
    height: 40%;
    aspect-ratio: 1/1;
    text-align: center;
    font-weight: bolder;
}

.boost_line {
    display: inline-block;
    align-content: center;
    background-color: #90979a;
    border-radius: 5px;
    width: 10%;
    height: 100%;
}

.card_line {
    display: inline-block;
    margin: auto;
    background-color: #90979a;
    border-radius: 5px;
    width: 80%;
    height: 100%;
}

/*Styles for the right of the board*/