* {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

body,html{
    overflow: hidden;
    width: 100%; height: 100vh;
    font-family: 'Noticia Text', serif;
    object-position: center;
    user-select: none;
    font-size: 1vw;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#body_div {
    position: absolute;
    width: 100%;
    aspect-ratio: 16/7.8;
}

/*Switch screen*/
#switch_screen {
    position: absolute;
    z-index: 2;
    display: none;
    opacity: 0;
    background-color: #17191a;
    height: 99vh;
    width: 99vw;
    transition: all 1s ease-in;
}

#switch_text {
    margin-top: 20%;
    font-weight: bold;
    color: #aa9667;
    font-size: 3vw;
}

#switch_button {
    margin-top: 20px;
    background-color: #90979a;
    width: 100px;
    height: 40px;
    font-weight: bold;
}

/*Round End*/
#end_round_graphic {
    z-index: 10;
    width: 99.5vw;
    height: 25vh;
    margin-top: 37vh;
    display:none;
    position: absolute;
    opacity: 0;
    background-color: #17191a;
    transition: all 1s ease-in-out;
}

#end_round_result {
    display: block;
    color: white;
    margin-top: 4%;
    font-size: 300%;
}

#end_round_button {
    margin-top: 2%;
}

.endHidden{
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease-in;
}

/*Medic UI*/
#medic_ui {
    position: absolute;
    display: none;
    z-index: 2;
    height: 55%;
    width: 100%;
    background-color: rgba(23, 25, 26, 0.5);
    top: 25%;
}

#medic_text {
    display: block;
    height: 5%;
    margin-top: 10px;
    color: #ffffff;
}
#selected_card,
.side_card1,
.side_card2 {
    display: inline-block;
    aspect-ratio: 3/4;
    border-radius: 5px;
    margin: 15px;
    width: 17.5%;
    vertical-align: middle;
}

.side_card1 {
    width: 12.5%;
}

.side_card2 {
    width: 7.5%;
}

#look_button {
    display: none;
    height: 10%;
    width: 40%;
    border-radius: 10px;
    margin: 2px;
    font-weight: bold;
    background-color: #17191a;
    color: #ffffff;
    margin-left: 30%;
}

/* MAIN BOARDS */
#left_board,
#center_board,
#right_board {
    display: inline-block;
    background-color: #c7cbcd;
    height: 100%;
    width: 24.5%;
    text-align: center;  
}

#center_board {
    background-color: #e3e5e6;
    width: 50%;
}


/*Styles for the left of the board*/

#enemy_status,
#own_status {
    display: inline-block;
    background-color: #17191a;
    width: 100%;
    height: 12%;
}

#enemy_card_num,
#own_card_num {
    color: #aa9667;
    font-weight: bold;
}

#weather_cards {
    background-color: #90979a;
    border-radius: 5px;
    height: 22%;
    width: 90%;
    margin: 10px auto;    
}

#enemy_pic,
#own_pic {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    height: 80%;
    object-fit: center;
}
.player_faction,
.player_name{
    text-align: left;
    color: #aa9667;
    margin: 2px;
    line-height: 100%;
}

.player_name {
    font-weight: bold;
    height: 40%;
}

.player_faction {
    height: 16%;
}

.status_content {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 50%;
}

#stats{
    text-align: left;
}

#stats *{
    display: inline-block;
}

#enemy_total_value,
#own_total_value {
    display: inline-block;
    background-color:#aa9667;
    width: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-weight: bolder;
}

.card_icon,
.heart_icon {
    aspect-ratio: 1/1;
    width: 10%;
}

.leader_div {
    display: inline-block;
    height: 18%;
    aspect-ratio: 3/4;
    background-color: #90979a;
    border-radius: 5px;
    margin: 4%;
}

#pass_button {
    display: block;
    width: 40%;
    aspect-ratio: 4/1;
    margin: auto;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5vw;
    background-color: #17191a;
    color: #ffffff;
}

/*Styles for the center of the board*/

#enemy_side,
#own_side {
    margin: auto;
    height: 40%;
    width: 100%;
}

#current_cards {
    margin-left: 7.5%;
    background-color: #c7cbcd;
    width: 90.75%;
    height: 16%;
}

.line_div {
    margin: 5px auto;
    height: 32%;
    width: 100%;
}

.line_value,
.boost_line,
.card_line{
    display: inline-block;
    align-content: center;
    background-color: #90979a;
}

.line_value {
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1/1;
    text-align: center;
    font-weight: bolder;
}

.boost_line {
    border-radius: 5px;
    width: 10%;
    height: 100%;
}

.card_line {
    border-radius: 5px;
    width: 80%;
    height: 100%;
}

.value_p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*Styles for the right of the board*/

#own_right_board,
#enemy_right_board {
    width: 100%;
    height: 22%;
}

#shown_card {
    width: 100%;
    height: 56%;
}

#shown_button_div {
    height: 8%;
}

.shownButton {
    display: none;
    height: 100%;
    width: 20%;
    border-radius: 10px;
    margin: 2px;
    font-weight: bold;
    background-color: #17191a;
    color: #ffffff;
}

#enemy_remaining_div,
#own_remaining_div,
#enemy_discarded,
#own_discarded {
    display: inline-block;
    border-radius: 5px;
    margin: 4%;
    width: 26.5%;
    background-color: #17191a;
    aspect-ratio: 3/4;
    color: white;
}

#own_remaining,
#enemy_remaining {
    display: block;
    position: relative;
    top: 75%;
    left: 32.5%;
    width: 35%;
    height: 20%;
    color: #aa9667;
    background-color: rgba(23, 25, 26, 0.8);
}

#enemy_discarded,
#own_discarded {
    background-color: #90979a;
}
